@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  line-height: 1.5625;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  color: #44c0fe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ml-xs {
  margin-left: 0.25rem;
}

.pl-xs {
  padding-left: 0.25rem;
}

.ml-s {
  margin-left: 0.5rem;
}

.pl-s {
  padding-left: 0.5rem;
}

.ml-m {
  margin-left: 1rem;
}

.pl-m {
  padding-left: 1rem;
}

.ml-l {
  margin-left: 1.5rem;
}

.pl-l {
  padding-left: 1.5rem;
}

.ml-xl {
  margin-left: 2rem;
}

.pl-xl {
  padding-left: 2rem;
}

.ml-xxl {
  margin-left: 3rem;
}

.pl-xxl {
  padding-left: 3rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-xs {
  margin-right: 0.25rem;
}

.pr-xs {
  padding-right: 0.25rem;
}

.mr-s {
  margin-right: 0.5rem;
}

.pr-s {
  padding-right: 0.5rem;
}

.mr-m {
  margin-right: 1rem;
}

.pr-m {
  padding-right: 1rem;
}

.mr-l {
  margin-right: 1.5rem;
}

.pr-l {
  padding-right: 1.5rem;
}

.mr-xl {
  margin-right: 2rem;
}

.pr-xl {
  padding-right: 2rem;
}

.mr-xxl {
  margin-right: 3rem;
}

.pr-xxl {
  padding-right: 3rem;
}

.mr-auto {
  margin-right: auto;
}

.mt-xs {
  margin-top: 0.25rem;
}

.pt-xs {
  padding-top: 0.25rem;
}

.mt-s {
  margin-top: 0.5rem;
}

.pt-s {
  padding-top: 0.5rem;
}

.mt-m {
  margin-top: 1rem;
}

.pt-m {
  padding-top: 1rem;
}

.mt-l {
  margin-top: 1.5rem;
}

.pt-l {
  padding-top: 1.5rem;
}

.mt-xl {
  margin-top: 2rem;
}

.pt-xl {
  padding-top: 2rem;
}

.mt-xxl {
  margin-top: 3rem;
}

.pt-xxl {
  padding-top: 3rem;
}

.mt-auto {
  margin-top: auto;
}

.mb-xs {
  margin-bottom: 0.25rem;
}

.pb-xs {
  padding-bottom: 0.25rem;
}

.mb-s {
  margin-bottom: 0.5rem;
}

.pb-s {
  padding-bottom: 0.5rem;
}

.mb-m {
  margin-bottom: 1rem;
}

.pb-m {
  padding-bottom: 1rem;
}

.mb-l {
  margin-bottom: 1.5rem;
}

.pb-l {
  padding-bottom: 1.5rem;
}

.mb-xl {
  margin-bottom: 2rem;
}

.pb-xl {
  padding-bottom: 2rem;
}

.mb-xxl {
  margin-bottom: 3rem;
}

.pb-xxl {
  padding-bottom: 3rem;
}

.mb-auto {
  margin-bottom: auto;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

a {
  text-decoration: none;
  color: #44c0fe;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1172px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 65px -15px;
}

.col-1 {
  width: 8.33333333%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-2 {
  width: 16.66666667%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-3 {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-4 {
  width: 33.33333333%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-5 {
  width: 41.66666667%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-6 {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-7 {
  width: 58.33333333%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-8 {
  width: 66.66666667%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-9 {
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-10 {
  width: 83.33333333%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-11 {
  width: 91.66666667%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-12 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper-vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.navbar {
  padding: 65px 0;
  text-align: center;
}

.navbar-title {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 36px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 1.33333333;
}

.navbar-items {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-top: 35px;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.45833333em;
}

.navbar-items a {
  color: inherit;
  display: inline-block;
  padding: 0 30px;
}

.navbar-items a:hover {
  color: #44c0fe;
}

.welcome {
  height: 644px;
  background: url("../img/highlighted.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 230px;
}

.highlighted {
  max-width: 700px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-bottom: 200px;
}

.avatar {
  width: 102px;
  height: 102px;
  border-radius: 50%;
  border: solid 1px #fff;
  margin-right: 30px;
}

.details {
  width: 100%;
}

.details-tag {
  width: 100px;
  height: 37px;
  color: #2b2b2b;
  border: 10px solid #fff;
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
  letter-spacing: 5px;
  font-size: 11px;
  text-transform: uppercase;
}

.details-title {
  color: inherit;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  font-size: 36px;
}

.details-title:hover {
  color: #44c0fe;
}

.details-author-and-date {
  color: inherit;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.slider {
  position: absolute;
  left: -125px;
}

.slider-item {
  width: 225px;
  height: 150px;
  margin-right: 25px;
  border-radius: 3px;
}

.author {
  margin-top: 65px;
  padding: 50px;
  background-color: #fff;
  width: 350px;
  border-radius: 3px;
  border: solid 1px #dadada;
}

.author-img {
  border-radius: 50%;
}

.author-name {
  padding-top: 36px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}

.author-job {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  padding: 7px 0 38px 0;
  letter-spacing: 1px;
  height: 15px;
}

.author-description {
  letter-spacing: 0.5px;
  width: 224px;
  height: 171px;
  color: #2b2b2b;
}

.author-signature {
  width: 183px;
  height: 51px;
}

.social {
  margin-top: 21px;
}

.social-item {
  display: inline-block;
  width: 20px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  color: #000;
}

.break {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 13px;
  position: relative;
  margin: 155px 0 95px 0;
}

.break-title {
  color: inherit;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 5px;
  text-transform: uppercase;
  display: block;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
  padding-right: 30px;
}

.break-title-right {
  padding-right: 0;
  padding-left: 30px;
}

.break:after {
  content: '';
  border-top: 1px solid #d8d8d8;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.art-details {
  display: flex;
  flex-direction: column;
}

.art-details-tag {
  max-width: 140px;
  height: 37px;
  margin-bottom: 10px;
  padding: 10px 4px;
  color: #2b2b2b;
  border-radius: 3px;
  background-color: #f7f6f6;
  letter-spacing: 5px;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
}

.art-details-title {
  font-family: "Playfair Display", serif;
  color: inherit;
  font-weight: 400;
  font-size: 24px;
  text-transform: capitalize;
  line-height: 32px;
  margin-bottom: 16px;
}

.art-details-author-and-date {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}

.art-details-image {
  width: 100%;
}

.banner {
  background: url("../img/banner.jpg") no-repeat center;
  background-size: cover;
  height: 360px;
  justify-content: center;
}

.banner-details {
  align-items: center;
  justify-content: center;
}

.quote-box {
  margin-bottom: 35px;
}

.quote-box .big-quote {
  font-family: "Playfair Display", serif;
  font-size: 46px;
  font-weight: 400;
}

.quote-box .big-quote:before {
  content: "“";
  font-size: 64px;
  display: inline-block;
  top: -30px;
  left: -30px;
}

.quote-box .big-quote:after {
  content: "“";
  font-size: 64px;
  position: absolute;
  transform: rotate(180deg);
}

.arrows {
  display: flex;
  justify-content: center;
}

.arrows .fa-long-arrow-alt-left {
  margin-right: 50px;
}
