.art-details {
	display: flex;
	flex-direction: column;
	margin-bottom: 65px;

	&-tag {
		max-width: 140px;
		height: 37px;
		margin-bottom: 10px;
		padding: 10px 4px;
		color: $color-text;
		border-radius: 3px;
		background-color: $color-tag;
		letter-spacing: 5px;
		text-align: center;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 700;
	}

	&-title {
		font-family: $font-heading;
		color: inherit;
		font-weight: 400;
		font-size: 24px;
		text-transform: capitalize;
		line-height: 32px;
		margin-bottom: 16px;
	}

	&-author-and-date {
		color: inherit;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	&-image {
		width: 100%
	}
}