.art-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 30px 0;

	&-tag {
		max-width: 140px;
		height: 37px;
		margin-bottom: 10px;
		padding: 10px 4px;
		color: $color-text;
		border-radius: 3px;
		background-color: $color-tag;
		letter-spacing: 5px;
		text-align: center;
		font-size: px2rem(11px);
		text-transform: uppercase;
		font-weight: 700;
	}

	&-title {
		font-family: $font-heading;
		color: inherit;
		font-weight: 400;
		font-size: px2rem(24px);
		text-transform: capitalize;
		line-height: 32px;
		margin-bottom: 16px;
	}

	&-author-and-date {
		font-size: px2rem(12px);
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		color: $color-date;

	}

	&-image {
		width: 100%
	}
}

.banner {
	margin: 65px 0;
	background: url("../img/banner.jpg") no-repeat center;
	background-size: cover;
	height: 360px;
	justify-content: flex-start;

	&-flex {
		//display: flex;
		//flex-direction: column;
		//align-items: center;
		padding: 30px;
	}

	&-details {
		color: $color-white;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}