.author{
	margin-top: 65px;
	padding: 50px;
	background-color: $color-white;
	width: 350px;
	//position: absolute;
	//right: 145px;
	//top: 65px;
	border-radius: 3px;
	border: solid 1px #dadada;

	&-img {
		border-radius: 50%;
	}

	&-name {
		padding-top: 36px;
		font-family: $font-heading;
		font-weight: 400;
		font-size: 36px;
		line-height: 44px;
	}

	&-job {
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 300;
		padding: 7px 0 38px 0;
		letter-spacing: 1px;
		height: 15px;
	}

	&-description {
		letter-spacing: 0.5px;
		width: 224px;
		height: 171px;
		color: $color-text
	}

	&-signature {
		width: 183px;
		height: 51px;
	}
}

.social {
	margin-top: 21px;

	&-item {
		display: inline-block;
		width: 20px;
		line-height: 20px;
		font-size: 12px;
		text-align: center;
		color: $color-heading;
	}
}