.break {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 13px;
	position: relative;
	margin: 155px 0 95px 0;

	&-title {
		color: inherit;
		font-weight: 400;
		font-size: px2rem(11px);
		letter-spacing: 5px;
		text-transform: uppercase;
		display: block;
		top: 0;
		left: 0;
		background-color: $color-white;
		z-index: 1;
		padding-right: 30px;

		&-right {
			padding-right: 0;
			padding-left: 30px;
		}
	}

	&:after{
		content: '';
		border-top: 1px solid $color-line;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
	}
}