.pictures {
	margin-bottom: 60px;

	&-item {
		height: 150px;
	}
}

.margin-zero {
	margin: 0;
}

.links {
	margin: 30px 0 100px 0;
	list-style: none;
	line-height: 25px;

	li{
		margin-right: 50px;
		display: inline;
	}

	&-item{
		text-transform: uppercase;
		letter-spacing: 0.5px;
		color: $color-link-off;
	}
}