.container {
	max-width: 1100px;
	margin: 0 auto;
	//padding: 0 1rem;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 65px -15px;
}

@for $i from 1 through 12 {
	.col-#{$i} {
		width: 100%/12 * $i;
		padding-left: 15px;
		padding-right: 15px;
	}
}