.quote-box {
	margin: 30px 0;

	.big-quote {
		font-family: $font-heading;
		font-size: px2rem(46px);
		font-weight: 400;

		&:before {
			content: "“";
			font-size: 64px;
			display: inline-block;
			top: -30px;
			left: -30px;
		}

		&:after {
			content: "“";
			font-size: px2rem(64px);
			position: absolute;
			transform: rotate(180deg);
		}
	}
}

@media (max-width: 960px) {
	.quote-box {
		.big-quote {
			font-size: px2rem(36px);

			&:after {
				top: 80px;
			}
		}
	}
}