.quote-box {
	margin-bottom: 35px;  //CHANGE THIS! IT SHOULD BE 65px (IMG MARGIN = 30)

	.big-quote {
		font-family: $font-heading;
		font-size: 46px;
		font-weight: 400;
		//position: relative;

		&:before {
			content: "“";
			font-size: 64px;
			//position: absolute;
			display: inline-block;
			top: -30px;
			left: -30px;
		}

		&:after {
			content: "“";
			font-size: 64px;
			position: absolute;
			transform: rotate(180deg);
		}
	}

	//.apostrophe {
	//	font-size: 64px;
	//	font-family: $font-heading;
	//
	//	&-start {
	//
	//	}
	//
	//	&-end {
	//		transform: rotate(180deg);
	//	}
	//}

}