.welcome {
	height: 644px;
	background: url("../img/highlighted.jpg") no-repeat center;
	background-size: cover;
	margin-bottom: 230px;
}

.highlighted {
	max-width: 700px;
	color: $color-white;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 65px;
}

.avatar {
	width: 102px; // i;ve added 2px more because of the border
	height: 102px;
	border-radius: 50%;
	border: solid 1px $color-white;
	margin-right: 30px;

}

.details{
	width: 100%;

	&-tag {
		width: 100px;
		height: 37px;
		color: $color-text;
		border: 10px solid $color-white;
		border-radius: 3px;
		background-color: $color-white;
		text-align: center;
		letter-spacing: 5px;
		font-size: px2rem(11px);
		text-transform: uppercase;
	}

	&-title {
		color: inherit;
		font-weight: 400;
		font-family: $font-heading;
		font-size: px2rem(36px);

		&:hover {
			color: $color-link;
		}
	}

	&-author-and-date {
		color: inherit;
		font-size: px2rem(12px);
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

.slider {
	margin-left: -250px;

	&-item{
		border-radius: 3px;
	}
}