.today-story {
	width: 100%;
	margin: 230px 0 90px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 13px;

	h4 {
		font-weight: 400;
		font-size: 11px;
		letter-spacing: 5px;
		text-transform: uppercase;
	}
}